예제 1

In [1]:
a = [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

예제 2

In [2]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

In [59]:
x = Gizmo()

Gizmo id: 137143532904576

In [60]:
y = Gizmo() * 10

Gizmo id: 137143532910240

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [6]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

예제3

In [7]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [10]:
lewis is charles

True

In [9]:
id(charles), id(lewis)

(137144554557696, 137144554557696)

In [12]:
lewis['balance'] = 950  # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

예제 4

In [13]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [15]:
alex is charles  # 두 객체는 서로 다른 별개의 객체

False

예제 5

In [16]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [17]:
id(t1[-1])

137144554567104

In [18]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 137144554567104)

In [19]:
t1 == t2

False

얕은복사 예제

In [21]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [22]:
l2 == l1

True

In [23]:
l2 is l1

False

예제 6

In [24]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]

In [25]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

예제 7

In [26]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

예제 8

In [27]:
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(137143528419872, 137143528408448, 137143528417712)

In [28]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [29]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(137143536049600, 137143536049600, 137143527529536)

예제 9

In [30]:
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [31]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

예제 10

In [33]:
def f(a,b):
    a += b
    return a

x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [34]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [35]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

예제 11

In [36]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

예제 12

In [37]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [38]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [39]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [40]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [41]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [42]:
bus2.passengers is bus3.passengers

True

In [43]:
bus1.passengers

['Bill', 'Charlie']

In [46]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [47]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

예제 13

In [48]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

예제 14

In [52]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

예제 15

In [53]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
    def pick(self, name):
        self.passengers.append(name)
    def drop(self, name):
        self.passengers.remove(name)

예제 16

In [54]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

예제 17

In [55]:
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
    print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [56]:
del s1
ender.alive

True

In [57]:
s2 = 'spam'

Gone with the wind...

In [58]:
ender.alive

False